# exclude the outputs directory
local_files/
outputs/
.DS_Store
.Rapp.history
inputs/prev_nwl_inputs
raw_data/prev_nwl_raw_scenarios
inputs/v1_nov2016
inputs/temp_prev_inputs_aug2018
inputs/temp_prev_inputs_feb2018
inputs/temp_prev_inputs_july2018
inputs/temp_prev_inputs_sep2017
.RData
.Rhistory
inputs/ind_rslc_sims_13sep2018/
persistent-state
CALAND_training/.Rproj.user/ABA90DFF/rmd-outputs
CALAND_training/.Rproj.user/ABA90DFF/saved_source_markers
CALAND_training/.Rproj.user/ABA90DFF/console06/6E39631A
CALAND_training/.Rproj.user/ABA90DFF/console06/INDEX001
CALAND_training/.Rproj.user/ABA90DFF/pcs/files-pane.pper
CALAND_training/.Rproj.user/ABA90DFF/pcs/source-pane.pper
CALAND_training/.Rproj.user/ABA90DFF/pcs/windowlayoutstate.pper
CALAND_training/.Rproj.user/ABA90DFF/pcs/workbench-pane.pper
CALAND_training/.Rproj.user/ABA90DFF/sources/prop/5856293
CALAND_training/.Rproj.user/ABA90DFF/sources/prop/6CA3B45D
CALAND_training/.Rproj.user/ABA90DFF/sources/prop/7F33E4BD
CALAND_training/.Rproj.user/ABA90DFF/sources/prop/BFCB6581
CALAND_training/.Rproj.user/ABA90DFF/sources/prop/INDEX
CALAND_training/.Rproj.user/ABA90DFF/sources/s-BC257BA7/746DDB2D-contents
CALAND_training/.Rproj.user/ABA90DFF/sources/s-BC257BA7/81737EF1-contents
CALAND_training/.Rproj.user/ABA90DFF/sources/s-BC257BA7/CAB04ECA
CALAND_training/.Rproj.user/ABA90DFF/sources/s-BC257BA7/CAB04ECA-contents
CALAND_training/.Rproj.user/ABA90DFF/sources/s-BC257BA7/lock_file
CALAND_training/.Rproj.user/shared/notebooks/patch-chunk-names
CALAND_training/.Rproj.user/shared/notebooks/paths
